<aside id ="jokeBox"class="jokes col-3 m-1">
  <h3>Coding Joke of the Day</h3>
  <p>{{{get_joke}}}</p>
</aside>
<div>

</div>
<section class="post-area col-md-6">
  {{#each posts as |post|}}
  <div class="card m-3 border-0 shadow-sm" style="background-color: #F5F5F5; border-radius: 10px; border-color:grey">
    <div class="card-body">
      <a href="/profile/{{user.id}}" class="other-user">
      <h5 class="card-title user user-info">
        <img src="{{user.profile_pic}}" alt="profile pic" class="profile-pic"/>{{user.username}}
      </h5>
      </a>
      <p class="card-text">{{content}}</p>
      
    </div>
  </div>
  {{/each}}
</section>


<aside id ="pcards"styleclass="suggested col-md-3">
  <h3>Suggested Users</h3>
  {{#each users as |user|}}

  <div class="card m-3 border-0 shadow-sm" style="background-color: #F5F5F5; border-radius: 10px;  border-color:grey">
    <div class="card-body">
      <a href="/profile/{{user.id}}" class="other-user">
      <h5 class="card-title user">
        <img src="{{profile_pic}}" alt="profile pic" class="profile-pic">{{username}}
      </h5>
      </a>
      <button type="button" class="follow" id="{{id}}">Follow</button>
    </div>
  </div>
  {{/each}}  
</aside>
<script src="/js/follow.js"></script>