<h2 class="px-3 col-12 text-center">Welcome to {{firstname}}'s page!</h2>
<aside class="col-4">
  <h3 class="display-flex justify-center">README.md</h3>
  <div class="post m-3 p-1">
    <img src="{{profile_pic}}" alt="profile pic" class="profile-pic" />
    <p>Hi this is an about me, write what you want about yourself let people know who you are blah blah blah blah</p>
  </div>
</aside>
<section class="user-post col-4">
  <h3 class="display-flex justify-center">Queries Made</h3>
  {{#each posts as |post|}}
  <div class="post m-3 p-1">
    <p>{{content}}</p>
  </div>
  {{/each}}
  <div class="post m-3 p-1">
</section>
<section class="row relations col-4">
  <section id="follower-sect">
    <h5>Followers</h5>
    {{#each followers as |user|}}
    <a href="/profile/{{id}}" class="followers m-3 p-1">
      <p><img src="{{profile_pic}}" alt="profile-pic" class="profile-pic" />{{username}}</p>
    </a>
    {{/each}}
  </section>
  <section id="following-sect">
    <h5>Following</h5>
    {{#each following as |user|}}
      <a href="/profile/{{id}}" class="followers m-3 p-1">
        <p><img src="{{profile_pic}}" alt="profile-pic" class="profile-pic" />{{username}}</p>
      </a>
    {{/each}}
  </section>
</section>